* { margin: 0; padding: 0; }
HTML { height: 100%; }
BODY { height: 100%; background-color: #FFF; }

.wrapper {
    padding: 5pt;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

P {
    margin-top: 15pt;
    margin-bottom: 5pt;
}
H1 {
    text-align: center;
    font-size: 20pt;
    margin-top: 10pt;
}
H2 {
    margin-top: 20pt;
    font-size: 14pt;
    font-weight: bold;
}

UL {
    list-style-position: inside;
    margin-top: 5pt;
    margin-bottom: 5pt;
}
