* { margin: 0; padding: 0; }
HTML { height: 100%; background-color: #FFF; }
BODY { max-width: 800px; height: 100%; margin: 0 auto; }

.edit {
	padding: 3pt;
	border: 1px solid #EEE;
	background-color: #F8F8F8;
	font-family: monospace;
	font-size: 10pt;
}

.program {
	min-height: 200px;
}

.tape {
	height: 10pt /* .edit { font-size } */;
	white-space: nowrap;
	overflow-x: hidden;
}